

.header h1 {
    text-align: center;
}

.header img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 400px;
    object-fit: cover;
    border: 5px solid white;
}

.header p {
    display: block;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    font-size: 1.1em;
}

.ingredients, .steps {
    width: 96%;
    margin: 0 auto;
}

h2 {
    margin-bottom: -8px;
}

li {
    font-size: 1.05em;
    margin: 5px;
}

.steps::after {
    content: "";
    display: block;
    height: 10px;
}